/*mobile view start here*/

body{
    min-width: 10px;
    background-color:#f7f7ff;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    background-position-y: 32rem;
    max-width: 1500px;
    padding: 0;
    margin: 0;
}
.logo{
    width: 8rem;
    padding-left: 2.5rem;
    padding-top: 0;
}

@font-face {
        font-family:"Montserrant-Black";
        src: url(fonts/Montserrat-Bold.ttf);
    }
@font-face{
    font-family: "zhangjinming";
    src: url(fonts/Montserrat-Regular.ttf)
}
@font-face{
    font-family: "maomao";
    src: url(fonts/Montserrat-Light.ttf);
}


.boss{
    width: 250px;
    text-decoration: none;
    font-family:"Montserrant-Black" ;
    font-size: 3.5rem;
    padding-left: 5rem;
    margin-top: 0rem;
    font-weight: normal;
    margin-bottom: 0;
}


main{
    font-family: "zhangjinming";
    line-height: normal;
    font-size: 1.5rem;
    margin-left: 5rem;
    text-align: left;
    margin-top: 0;
    width: 300px;
}

fieldset{
    border: 0;
  
}

 h2{
    font-family: "Montserrant-Black";
    font-size: 3rem;
    
}  

.info{
    font-family: "maomao";
}

.wrapper{
      width:350px;
      padding-bottom:100px ;
      text-align: center;
     margin-top:330px ;
     padding-left: 5rem;
     border: 0px;
    padding-bottom: 80px;
     
  }

  form{
      box-shadow: 5px 5px 10px rgb(180, 180, 180);
      border-radius:40px;
    background-color: white;
    margin-top: 100px;
  }
  
  input[type=text], select, textarea {
    width: 280px;
    padding: 12px;
    border: 0px ;
    background-color: #f7f7ff;
    margin-top: 6px;
    border-radius:10px;
    margin-bottom: 16px;
    resize: vertical;

  }

  input[type=text01], select, textarea {
    
    padding: 12px;
    border: 0px ;
    background-color: #f7f7ff;
    border-radius:10px;
    margin-right: 10px;
    resize: vertical;
    text-align: left;
    width: 110px;
    margin-top: 10px;
}

input[type=text02], select, textarea {
    
    padding: 12px;
    border: 0px ;
    background-color: #f7f7ff;
    border-radius:5px;
    margin-right: 10px;
    resize: vertical;
    text-align: left;
    width: 220px;
    margin-top: 10px;
}

  .box{
      text-align: left;
      margin-left: 10px;
      margin-bottom: 10px;
      font-family: "maomao";
  }

  .check{
      font-family: "maomao";
      font-size: 15px;
  }

  .check span{
     color: tomato;
  }
  
  input[type=submit] {
    background-color: #57eeab;
    width: 300px;
    border-radius:10px;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }

  input[type=submit01] {
    background-color: #ff8480;
    color: white;
    padding: 8px 10px ;
    border: none;
    cursor: pointer;
    border-radius:10px;
    text-align: center;
    margin-top: 10px;
    width:250px;
    font-family:"Montserrant-Black" ;
    font-size: 1.1rem;
  }
 
  



 footer{
    width:100%;
    height: 360px;
    background-color: #fffd8c;
    position: absolute;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 0;
    margin-bottom: 0;
    }
  
  
  .big{
      padding-right: 10px;
  }
.block{
    margin-left: 120px;
    
    
}


  .media{
      display:flex ;
      margin-right: 50px;
     margin-bottom: 0;
  }
  
  .media img{
          margin: 20px;
          margin-bottom: 0;
          margin-top: 20px;
          
      }



      .foot {
          margin-left: 120px;
          width: 200px;
          font-family:"Montserrant-Black" ;
          font-size: 1.1rem;
      }
      .footp{
          margin-left: 120px;
          font-family: "maomao";
          width: 270px;
      }







    /*Pad view start here*/
    @media(min-width:550px){



body{
    min-width: 10px;
    background-color:#f7f7ff;
    background-repeat: no-repeat;
    background-size: 30rem;
    background-position: center;
    background-position-y: 22rem;
    max-width: 1500px;
    padding: 0;
    margin: 0;
}
.logo{
    width: 6rem;
    padding-left: 2.5rem;
    padding-top: 0;
}

@font-face {
        font-family:"Montserrant-Black";
        src: url(fonts/Montserrat-Bold.ttf);
    }
@font-face{
    font-family: "maomao";
    src: url(fonts/Montserrat-Light.ttf);
}


.boss{

    width: 400px;
    text-decoration: none;
    font-family:"Montserrant-Black" ;
    font-size: 3.5rem;
    padding-left: 5rem;
    margin-top: 0rem;
    font-weight: normal;
    margin-bottom: 0;
}


main{
    font-family: "zhangjinming";
    line-height: normal;
    font-size: 1.3rem;
    margin-left: 5rem;
    text-align: left;
    margin-top: 0;
    width: 500px;
}

fieldset{
    border: 0;
    justify-content: center;
}

 h2{
    font-family: "Montserrant-Black";
    font-size: 3rem;
    
}  

.info{
    font-family: "maomao";
}

.wrapper{
      width:500px;
      padding-bottom:100px ;
      text-align: center;
     margin-top:400px ;
     justify-content: center;
     border: 0px;
    padding-bottom: 80px;
     
  }

  form{
      box-shadow: 5px 5px 10px rgb(180, 180, 180);
      border-radius:40px;
    background-color: white;
    margin-top: 100px;
    justify-content: center;
  }
  
  input[type=text], select, textarea {
    width: 280px;
    padding: 12px;
    border: 0px ;
    background-color: #f7f7ff;
    margin-top: 6px;
    border-radius:10px;
    margin-bottom: 16px;
    resize: vertical;

  }

  input[type=text01], select, textarea {
    
    padding: 12px;
    border: 0px ;
    background-color: #f7f7ff;
    border-radius:10px;
    margin-right: 10px;
    resize: vertical;
    text-align: left;
    width: 110px;
    margin-top: 10px;
}

input[type=text02], select, textarea {
    
    padding: 12px;
    border: 0px ;
    background-color: #f7f7ff;
    border-radius:5px;
    margin-right: 10px;
    resize: vertical;
    text-align: left;
    width: 220px;
    margin-top: 10px;
}

  .box{
      text-align: left;
      margin-left: 80px;
      margin-bottom: 10px;
      font-family: "maomao";
  }

  .check{
      font-family: "maomao";
      font-size: 15px;
  }

  .check span{
     color: tomato;
  }
  
  input[type=submit] {
    background-color: #57eeab;
    width: 300px;
    border-radius:10px;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }

  input[type=submit01] {
    background-color: #ff8480;
    color: white;
    padding: 8px 10px ;
    border: none;
    cursor: pointer;
    border-radius:10px;
    text-align: center;
    margin-top: 10px;
    width:250px;
    font-family:"Montserrant-Black" ;
    font-size: 1.1rem;
  }
 
  



 footer{
    width:100%;
    height: 300px;
    background-color: #fffd8c;
    position: absolute;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 0;
    margin-bottom: 0;
    }
  
  
  .big{
      padding-right: 10px;
      
  }
.block{
    height: 50px;
    margin-left: 120px;
    
    
}


  .media{
      grid-template-columns: 1fr 3fr 2fr;
      justify-content: center;
     margin-bottom: 0;
  }
  
  .media img{
          margin: 20px;
          margin-bottom: 0;
          margin-top: 20px;
          
      }



      .foot {
          margin-left: 120px;
          width: 2000px;
          font-family:"Montserrant-Black" ;
          font-size: 1.1rem;
      }
      .footp{
          margin-left: 120px;
          font-family: "maomao";
          width: 2070px;
      }
  
    }





/*desktop view start here*/
 @media(min-width:1500px) {


body{
    
    background-color:#f7f7ff;
    background-repeat: no-repeat;
    background-size: 40rem;
    background-position: center;
    background-position-y: 10rem;
    max-width: 1500px;
    padding: 0;
    margin: 0;
}
.logo{
    width: 5rem;
    padding-left: 4rem;
    padding-top: 0;
}

@font-face {
        font-family:"Montserrant-Black";
        src: url(fonts/Montserrat-Bold.ttf);
    }
.boss{
    width: 450px;
    text-decoration: none;
    font-family:"Montserrant-Black" ;
    font-size: 3.8rem;
    padding-left: 8rem;
    margin-top: 4rem;
    font-weight: normal;
    
}

@font-face{
    font-family: "zhangjinming";
    src: url(fonts/Montserrat-Regular.ttf)
}
main{
    font-family: "zhangjinming";
    line-height: normal;
    font-size: 1.1rem;
    margin-left: 8rem;
    text-align: left;

    
}

fieldset{
    border: 0;
    
}


.wrapper{
      width:450px;
      padding-bottom:100px ;
      text-align: center;
     margin-top:-300px ;
     padding-left: 1000px;
     border: 0px;
    padding-bottom: 80px;
    
     
  }

  form{
      box-shadow: 5px 5px 10px rgb(180, 180, 180);
      border-radius:10%;
    background-color: white;
  }
  
  input[type=text], select, textarea {
    width: 300px;
    padding: 12px;
    border: 0px ;
    background-color: #f7f7ff;
    margin-top: 6px;
    border-radius:8px;
    margin-bottom: 16px;
    resize: vertical;

  }

  input[type=text01], select, textarea {
    
    padding: 12px;
    border: 0px ;
    background-color: #f7f7ff;
    border-radius:10px;
    margin-right: 10px;
    resize: vertical;
    text-align: left;
    width: 110px;
}

input[type=text02], select, textarea {
    
    padding: 12px;
    border: 0px ;
    background-color: #f7f7ff;
    border-radius:10px;
    margin-right: 10px;
    resize: vertical;
    text-align: left;
    width: 220px;
}

  .box{
      text-align: left;
      margin-left: 30px;
      margin-bottom: 10px;
  }

  .check span{
     color: tomato;
  }
  
  input[type=submit] {
    background-color: #57eeab;
    width: 325px;
    border-radius:10px;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }

  input[type=submit01] {
    background-color: #ff8480;
    color: white;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    border-radius:10px;
    text-align: center;
  }
 
  



 footer{
    width:100%;
    height: 150px;
    background-color: #fffd8c;
    position: absolute;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 0;
    margin-bottom: 0;
    }
  
  .block{
      display: flex;
      padding-left: 0px;
  }
  .big{
      padding-right: 10px;
  }

  .media{
      display: flex;
      padding-left: 400px;
  text-align: right;
    }
  
  .media img{
          margin: 20px;
          margin-bottom: 0;
          margin-top: -20px;
         
      }

      .foot {
          margin-left: 120px;
          width: 1000px;
      }
      .footp{
          margin-left: 120px;
           width: 1000px;
      }
    }